body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: linear-gradient(white, #f5f2f6);
  height: auto;
  min-height: 100vh;
}

.nav
ul {
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style-type: none;
}

.active {
  font-weight: bold;
  color: red;
}